/* VARIABLES */

:root {
 /* fonts */
 --body-f: 'Alata', sans-serif;
 --heading-f: 'Josefin Sans', sans-serif;;
 /* colors */
 --White: hsl(0, 0%, 100%);
 --Black: hsl(0, 0%, 0%);
 --Dark-Gray: hsl(0, 0%, 55%);
 --Very-Dark-Gray: hsl(0, 0%, 41%);

  /* reutilizable */
  --section-w: calc(100% - 3rem);
}
/* LAYOUT */

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: var(--body-f);
}
h2, h3 {
  font-family: var(--heading-f);
  font-weight: 300;
  text-transform: uppercase;
}
a {
  color: #FFF;
  text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

img {
  width: 100%;
}

.section {
  width: var(--section-w);
  margin: auto;
  margin-top: 6rem;
}
.section__title {
  text-align: center;
  font-size: 2rem;
}
.img-container {
  width: 100%;
  margin: 0;
  line-height: 0;
}
/* HEADER */
* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--section-w);
  height: 6.25rem;
  margin: 0 auto;
}
.nav__logo {
  line-height: 0;
}
.nav__menu {
  display: none;
}
.nav__icon {
  line-height: 0;
}
/* MAIN */
main {
  margin-bottom: 6rem;
}
/* HERO */

.title-container {
  position: absolute;
  top: 40%;
}
.hero__title {
  margin: auto;
  color: #FFF;
  width: var(--section-w);
  font-size: 2.625rem;
  padding: 1rem 1.2rem;
  border: 2px solid #FFF;  
}
/* About */
.section__info {
  color: #8c8c8c;
  line-height: 25px;
  text-align: center;
}
/* Creations */
.creations {
  display: flex;
  flex-direction: column;
}
.creations-container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 24px;
}
.creation {
  position: relative;
}
.creation__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  margin-top: 0;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
  color: #FFF;
  font-size: 1.5rem;
}
.button {
  width: 157px;
  height: 40px;
  padding: 0;
  margin-top: 11px;
  border: 1px solid #000;
  background-color: #FFF;
  font-family: var(--heading-f);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  align-self: center;
}
/* FOOTER */
.footer {
  background-color: #000;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}