/* VARIABLES */

:root {
  /* fonts */
  --body-f: 'Alata', sans-serif;
  --heading-f: 'Josefin Sans', sans-serif;;
  /* colors */
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
 
   /* reutilizable */
   --section-w: calc(100% - 3rem);
   --header-h: 100px;
 }
 /* LAYOUT */
 * {
   box-sizing: border-box;
 }
 html {
   font-size: 16px;
 }
 body {
   margin: 0;
   font-family: var(--body-f);
 }
 h2, h3 {
   font-family: var(--heading-f);
   font-weight: 400;
   text-transform: uppercase;
 }
 a {
   color: #FFF;
   text-decoration: none;
 }
 ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
 }
 li {
   list-style: none;
 }
 
 img {
   width: 100%;
 }
 
 .section {
   width: var(--section-w);
   max-width: 1114px;
   margin: auto;
   margin-top: 6rem;
 }
 .section__title {
   text-align: center;
   font-size: 2rem;
 }
 .img-container {
   display: block;
   margin: 0;
   line-height: 0;
 }
 /* HEADER */
 .header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 700;
   width: 100%;
   height: var(--header-h);
 }
 /* nav */
 .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: var(--section-w);
   height: 100%;
   max-width: 1114px;
   margin: 0 auto;
 }
 .nav__logo {
   position: relative;
   z-index: 1000;
   line-height: 0;
 }
 /* menu responsive */
 
 @media screen and (max-width:767px) {
   .nav__icon {
     display: block;
     position: relative;
     z-index: 1000;
   }
   .nav__menu {
     position: absolute;
     top: 0;
     left: -100%;
     z-index: 500;
     width: 100%;
     padding-top: 200px;
     padding-bottom: 200px;
     background-color: #000;
     transition: .5s;
   }
   .nav__menu.active {
     left: 0;
   }
   .nav__list {
     display: block;
     padding-left: 1.5rem;
   }
   .nav__item {
     margin-bottom: 1.5rem;
   }
   .nav__link {
     font-family: var(--heading-f);
     font-size: 32px;
     text-transform: uppercase;
   }
 }
 
 /* MAIN */
 .main {
   margin-bottom: 6rem;
 }
 /* HERO */
 .hero {
   position: relative;
 }
 .title-container {
   position: absolute;
   top: 35%;
   left: 0;
   right: 0;
   margin: auto;
   width: var(--section-w);
   max-width: 1114px;
 }
 .hero__title {
   display: inline-block;
   margin: auto;
   color: #FFF;
   font-size: 2.625rem;
   padding: 1rem 1.2rem;
   border: 2px solid #FFF;  
 }
 /* About */
 .about__info {
   color: #8c8c8c;
   line-height: 25px;
   text-align: center;
 }
 .about-container {
   max-width: 546px;
   background-color: #FFF;
 }
 .about__img {
   max-width: 731px;
 }
 /* Creations */
 .creations {
   display: flex;
   flex-direction: column;
 }
 .creations-container {
   margin: 1.5rem 0;
   display: grid;
   grid-template-columns: 1fr;
   grid-auto-rows: auto;
   gap: 24px;
 }
 .creation {
   position: relative;
 }
 .creation__title {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 130px;
   margin-top: 0;
   margin-left: 1.2rem;
   margin-bottom: 1.2rem;
   color: #FFF;
   font-size: 1.5rem;
 }
 /* button */
 .button {
   width: 157px;
   height: 40px;
   padding: 0;
   margin-top: 11px;
   outline: none;
   border: 1px solid #000;
   background-color: #FFF;
   font-family: var(--heading-f);
   font-size: 0.875rem;
   text-transform: uppercase;
   letter-spacing: 0.35em;
   align-self: center;
 }
 /* FOOTER */
 .footer {
   background-color: #000;
 }
 .footer-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 54px;
   width: var(--section-w);
   max-width: 1114px;
   margin: auto;
 }
 .footer__logo {
   max-width: 150px;
   margin-bottom: 1rem;
 }
 .footer__menu {
   text-align: center;
 }
 .footer__item {
   margin-top: 1rem;
 }
 .social {
   display: flex;
   justify-content: space-evenly;
   max-width: 200px;
   margin: 2.5rem auto 1rem;
 }
 .icon-container {
   line-height: 0;
   cursor: pointer;
 }
 .copyright {
   color: #FFF;
 }
 .attribution { 
   font-size: 11px; 
   text-align: center; 
   color: #FFF;
 }
 .attribution a { 
     color: hsl(228, 45%, 44%); 
}
.img-container {
  width: 100%;
  margin: 0;
  line-height: 0;
}
/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-h);
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--section-w);
  height: 100%;
  max-width: 1114px;
  margin: 0 auto;
}
.nav__logo {
  position: relative;
  z-index: 1000;
  line-height: 0;
}
/* menu responsive */

@media screen and (max-width:767px) {
  .nav__icon {
    display: block;
    position: relative;
    z-index: 1000;
  }
  .nav__menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 500;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #000;
    transition: .5s;
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__list {
    display: block;
    padding-left: 1.5rem;
  }
  .nav__item {
    margin-bottom: 1.5rem;
  }
  .nav__link {
    font-family: var(--heading-f);
    font-size: 32px;
    text-transform: uppercase;
  }
}

/* MAIN */
.main {
  margin-bottom: 6rem;
}
/* HERO */

.title-container {
  width: var(--section-w);
  max-width: 1114px;
  margin: 0 auto;
}
.hero__title {
  display: inline-block;
  color: #FFF;
  font-size: 2.625rem;
  padding: 1rem 1.2rem;
  border: 2px solid #FFF;  
}
/* About */
.about__info {
  color: #8c8c8c;
  line-height: 25px;
  text-align: center;
}
.about-container {
  background-color: #FFF;
}
.about__img {
  max-width: 731px;
}
/* Creations */
.creations {
  display: flex;
  flex-direction: column;
}
.creations-container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 24px;
}
.creation {
  position: relative;
}
.creation__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130px;
  margin-top: 0;
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
  color: #FFF;
  font-size: 1.5rem;
}
.button {
  width: 157px;
  height: 40px;
  padding: 0;
  margin-top: 11px;
  outline: none;
  border: 1px solid #000;
  background-color: #FFF;
  font-family: var(--heading-f);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  align-self: center;
  cursor: pointer;
  transition: .5s ease;
}
.button:hover {
  background-color: #000;
  color: #FFF;
  border: none;
}
/* FOOTER */
.footer {
  background-color: #000;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
  width: var(--section-w);
  max-width: 1114px;
  margin: auto;
}
.footer__logo {
  max-width: 150px;
  margin-bottom: 1rem;
}
.footer__menu {
  text-align: center;
}
.footer__item {
  margin-top: 1rem;
}
.social {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  margin: 2.5rem auto 1rem;
}
.icon-container {
  line-height: 0;
}
.icon-container {
  position: relative;
  padding-bottom: 7.5px;
}
.icon-container:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.copyright {
  color: #FFF;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: #FFF;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
  }
/* Media queries */
@media screen and (max-width:320px) {
  .hero__title {
    font-size: 2rem;  
  }
}
@media screen and (min-width:768px) {

  .nav__icon {    
    display: none;
  }
  .nav__list, .footer__list {
    display: flex;
    align-items: center;
  }
  .nav__link, .footer__link {
    margin-right: 25px;
  }
  .nav__link, .footer__link {
    position: relative;
    padding-bottom: 5px;
  }
  .nav__link:hover::after,
  .nav__link.active::after ,  
  .footer__link:hover::after  {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .about {
    position: relative;
  }
  .about-container {
    max-width: 546px;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 2rem;
  }
  .creations {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: 140x auto;
  }
  .creations-container {
    margin: 1.5rem 0;
    grid-column: span 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    gap: 30px;
  }
  .button {
    grid-column: 3 / 4;
    justify-self: right;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .social {
    margin-top: .5rem;
  }
  .footer__menu {
    margin-bottom: 1rem;
  }
  .footer__item {
    margin-top: 0;
  }
}
@media screen and (min-width:1024px) {
  :root {
    --header-h: 150px;
  }
}
@media screen and (min-width:1440px) {
  .hero__title {
    font-size: 70px;
  }
}